<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading...</title>
  </head>
  <body>
    

    <!-- Content to be displayed after delay -->
    <div id="content">
     
        <div style="display: flex; align-items: center; gap: 20px; padding-bottom: 20px;">
            <div>
                <img src="/static/confidence_graph/audio_waveform_1.png" alt="" width="100%">
            </div>
            <div>
            <img src="/static/confidence_graph/confidence_1.png" alt="" width="100%">

            </div>
        
        </div>
        <div style="display: flex; align-items: center; gap: 20px; padding-bottom: 20px;">
            <div>
                <img src="/static/confidence_graph/audio_waveform_2.png" alt="" width="100%">
            </div>
            <div>
            <img src="/static/confidence_graph/confidence_2.png" alt="" width="100%">

            </div>
        
        </div>
        <div style="display: flex; align-items: center; gap: 20px; padding-bottom: 20px;">
            <div>
                <img src="/static/confidence_graph/audio_waveform_3.png" alt="" width="100%">
            </div>
            <div>
            <img src="/static/confidence_graph/confidence_3.png" alt="" width="100%">

            </div>
        
        </div>
        
       
    </div>
  </body>
</html>
