<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intreview Learning Page</title>
    <style>
        .topnav {
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.topnav a.active {
  background-color: #4c4faf;
  color: white;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 13px;
  /* margin: 20px; */
  width: 100%;
  margin-top: 10px;
}

.video {
  width: 100%;
  height: 225px;
  border-radius:20px;
  /* margin-left: 5px; */
}

    </style>
</head>
<body >

  <script>
    (function (w, d, s, o, f, js, fjs) {
      w["botsonic_widget"] = o;
      w[o] =
        w[o] ||
        function () {
          (w[o].q = w[o].q || []).push(arguments);
        };
      (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
      js.id = o;
      js.src = f;
      js.async = 1;
      fjs.parentNode.insertBefore(js, fjs);
    })(window, document, "script", "Botsonic", "https://widget.writesonic.com/CDN/botsonic.min.js");
    Botsonic("init", {
      serviceBaseUrl: "https://api-azure.botsonic.ai",
      token: "80b8ad02-f89c-4391-bba9-46939eb39966",
    });
  </script>



    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/info">Interview Process</a>
        <a href="/info1">Chatbot</a>
        <a href="/suggestion">Suggestion page</a>
        <a href="/formpage">Logout</a>

      </div>
      <div class="video-container" style="background-color: #000000; border-radius: 10px;">
        <iframe class="video" width="500"  src="https://www.youtube.com/embed/q7FdIl91HVc?si=lyx6s0JEOWAGugZd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560" src="https://www.youtube.com/embed/M4iHa7gHvNI?si=P4-bNaGxBkxuKKrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560" src="https://www.youtube.com/embed/otkpUBKqCCQ?si=oCUa9G44XNPD-HiX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/5v-wyR5emRw?si=5lJf83dKInulHh26" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/ACiNC1T0Et0?si=clZ3LnG4SIZh7Rlp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/BKoVrqJCDQk?si=Gl5G4Y5vYM8syDtN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/PG4t_6qjxz0?si=akysHQUGYr-2LR4L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/v89YLIWRBBY?si=k4LKbJEUWjBf46l5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/ac2hDMjpAPI?si=_Qn7WL-l9GSWchRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/cbtGu5LCLRo?si=5wITEVWeyveyf4wB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/N2FnB3HiDDU?si=Hntia3d50A-duGCK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/5T0SiJocPCI?si=7UfQ8BhnH2U8ln73" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/uzo_gpWtvI4?si=lt5HkrGxLdjIMAoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/ayZppqJAUcc?si=LHLUrNTm68TkW7bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/3baWzvEDfgU?si=gptmRtSjrOY04_qQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/EZbbbr8DMkg?si=aQF-nCtQLZWQHZBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/s7F30oiysho?si=KPYf89bL81nGyewr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="video" width="560"  src="https://www.youtube.com/embed/x2Tgqo7V9iI?si=kLiw0WEAxapg0Awm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
            <script>
                document.querySelectorAll('.video').forEach(video => {
  video.addEventListener('click', function() {
    // Open video in a modal or in a popped-out window
  });
});

            </script>
    
</body>
</html>  